.game-container{
    width: 750px;
    height: 450px;
    margin: auto;
    justify-content:center;
    border:1px solid black;
	margin:0px auto;
	text-align:center;
	position:relative;
	font-size:16px;
}

.game-container .gameboard{
margin:0px auto;
background:#2EC1F1;
margin-top:10pxl
}

.game-container-inner{
    width: 750px;
    height: 450px;
    margin: auto;
	margin:0px auto;
	text-align:center;
	position:relative;
}

.noborder{
border:none;
}

div.lavelprogress{
height:12px;
border:1px solid black;
width:310px;
margin:50px auto;
}

div.lavelprogressbar{
background:#F89A3B;
height:10px;
}


div.success {
  display: none;
  height: 320px;
  left: 217px;
  position: absolute;
  top: 0;
  width: 310px;
}

div.success img{
margin-top:165px;
}


div.labelname{
text-align:right;
padding:5px;
}

div.labeloverview{
position:absolute;
right:0px;
}
div.labeloverview span {
  color: #000000;
  font-weight: normal;
  line-height: 60px;
  padding: 30px !important;
}


div.labelname span{
color:#2ec1f1;
padding:5px;
font-size:18px;
}


div.thankyouscreen{
padding:0px;
}

div.tutorialdemotxt {
  background: #999999 none repeat scroll 0 0;
  border-top: 1px solid black;
  color: #ffffff;
  font-size: 20px;
  margin-top: 47px;
  padding: 10px;
  position: relative;
}

a.replaytxt {
  background: rgba(0, 0, 0, 0) url("../images/replay.png") no-repeat scroll left center;
  color: #000000;
  display: inline-block;
  line-height: 65px;
  padding-left: 60px;
}

div.graytop{
background:#999999;
color:#FFFFFF;
padding-top:100px;
height:370px;
font-size:18px;
}
div.whitetop{
background:#FFFFFF;
padding-top:20px;
height:370px;
}

div.graytop h3{
margin-bottom:30px;
}

a.nextgamelink{
display:block;
line-height:77px;
background:#F89A3B;
border:none;
border-top:1px solid black;
text-decoration:none;
color:#FFFFFF;
font-size:18px;
}

a.clicktobegin {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #2ec1f1 none repeat scroll 0 0;
  border-color: black -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px medium medium;
  bottom: 0;
  position: absolute;
  width: 100%;
}

div.container{
display:none;
}


.noborder{
border:none;
}
.hasborder{
border:1px solid black;
}
.strong{
font-weight:bold;
}
.blacktext{
color:#000000;
}
.orangetext{
color:#f89a3b;
}

#bluepanel{
background:#2ec1f1;
}

#numberboard {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 140px;
}

table.number{
margin:0px auto;
}

td.numbertd {
  padding: 5px;
  width: 60px;
}

td.numbertd input{
text-align:center;
}

div.bottombutton{
padding-right:5px;
}

div.bottombutton button {
  background: #f89a3b none repeat scroll 0 0;
  border: 1px solid black;
  border-radius: 10px;
  color: #ffffff;
  float: right;
  font-weight: bold;
  margin-top: 10px;
  outline: medium none;
  padding: 6px 25px;
}

.navigation-container {
  margin: 20px auto;
  width: 750px;
}

.navigation-next
{
  border-radius:15px;
  text-align: center;
  float: right;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  border:1px solid black;
  background-color: #F79D48;
  color: white;
}
.navigation-back
{
  border-radius:15px;
  text-align: center;
  float: left;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  border:2px solid #F89A3B;
  color: #F89A3B;
  background-color: white;
}


.blacktext{
color:#000000 !important;
}