.game-container{
    width: 750px;
    height: 450px;
    margin: auto;
    justify-content:center;
	margin:0px auto;
	text-align:center;
	position:relative;
}

.gamewrapper{
margin-top:100px;
}

.game-container .equationboard{

margin:0px auto;
width:400px;
/*background:#2EC1F1;*/
margin-top:50px;
}


div.whitetop {
  background: #ffffff none repeat scroll 0 0;
  color: #000000;
  height: 450px;
  padding-top: 30px;
}

div#gameboard div.whitetop{
  background:#2EC1F1;
}


div.lavelprogress{
height:12px;
border:1px solid black;
width:300px;
margin:0px auto;
margin-top:20px;
}

div.lavelprogressbar{
background:#F89A3B;
height:10px;
}


div.success {
  display: none;
  height: 320px;
  left: 220px;
  position: absolute;
  top: 60px;
  width: 310px;
}

div.success img{
margin-top:130px;
}

div.labelname span{
color:#000000;
float:right;
padding:20px;
font-size:16px;
}

div.labelname span.currentround{
float:none;
padding:0px;
margin:0px;
}


div.thankyouscreen{
padding:0px;
border:none;
}

div.tutorialdemotxt {
  background: #999999 none repeat scroll 0 0;
  border-top: 1px solid black;
  color: #ffffff;
  font-size: 20px;
  margin-top: 47px;
  padding: 10px;
  position: relative;
}

a.replaytxt {
  background: rgba(0, 0, 0, 0) url("../images/replay.png") no-repeat scroll left center;
  color: #000000;
  display: inline-block;
  line-height: 65px;
  padding-left: 60px;
}

div.graytop{
background:#999999;
color:#FFFFFF;
padding-top:100px;
height:370px;
font-size:18px;
font-weight:bold;
}

div.graytop h3{
margin-bottom:30px;
}

a.nextgamelink{
display:block;
line-height:78px;
background:#F89A3B;
border:1px solid black;
text-decoration:none;
color:#FFFFFF;
font-size:18px;
position:absolute;
bottom:0px;
width:750px;
}

a.clicktobegin{
background:#2ec1f1;
}



div.container{
display:none;
}


.noborder{
border:none;
}
.hasborder{
border:2px solid gray;
}
.strong{
font-weight:bold;
}
.blacktext{
color:#000000;
font-size:16px;
}
.orangetext{
color:#f89a3b;
}

.greentext{
color:#00AA00;
}







.hasborder {
  border: 2px solid gray;
}
.content-wrap{
margin-top:45px;
margin-bottom:20px;
}

div.squaresCollections{
width:304px;
height:254px;
border:2px solid black;
margin:0px auto;
background:#666666;
cursor:pointer;
}

div.squaresCollections .square{
width:50px;
border:1px solid black;
float:left;
height:50px;
}

div.squaresCollections .wrong{
background:#DD0000;
}


div.squaresCollections .orange{
background: #f89a3b none repeat scroll 0 0;
}

div.squaresCollections .orangelite{
background: #ffdb99 none repeat scroll 0 0;
}

div.hideorrange .orange{
background: none;
}

div#squaresGameBoard{
margin-top:10px;
}

div.playinstruction {
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

div.labelname{
position:absolute;
right:0px;
top:0px;
}

div#gameboard div.labelname span {
  color: #FFFFFF;
}

div.boardIntructionLavel{
height:20px;
}

div.playinstruction{
display:none;
}



.navigation-container {
  margin: 20px auto;
  width: 750px;
}

.navigation-next
{
  border-radius:15px;
  text-align: center;
  float: right;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  border:1px solid black;
  background-color: #F79D48;
  color: white;
}
.navigation-back
{
  border-radius:15px;
  text-align: center;
  float: left;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight:bold;
  border:2px solid #F89A3B;
  color: #F89A3B;
  background-color: white;
}

